@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Raleway", serif;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 350px;
  min-height: 900px;
  font-weight: 400;
  background-color: #ebeae9;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/* li {
  list-style: none;
} */
/* p {
  user-select: none;
} */

.f-roboto {
  font-family: "Raleway", serif;
}

.heading-main {
  font-family: "Raleway", serif;
}

.raleway-font {
  font-family: "Raleway", serif;
}

.yellow-action-button {
  @apply w-fit font-[800] text-black  bg-primary-yellow px-4 py-2  uppercase  rounded-full hover:bg-[#ecd378] transition-all text-center flex items-center justify-center;
}

.yellow-action-blue {
  @apply w-fit font-[800] text-white md:text-black  bg-primary-blue md:bg-primary-yellow px-4 py-2  uppercase  rounded-full md:hover:bg-[#ecd378] transition-all text-center flex items-center justify-center;
}

.box-shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
}

.gray-action-button-admin {
  @apply w-fit font-medium text-white bg-[#A9B0B0] px-2 md:px-6 mt-1 py-1 text-xs rounded-md  text-center flex items-center justify-center;
}

.gray-action-button {
  @apply w-fit font-medium text-white bg-[#A9B0B0] px-4 py-2  uppercase rounded  text-center flex items-center justify-center;
}

.red-action-button {
  @apply w-fit font-medium text-white bg-[#E70911] px-4 py-2  uppercase rounded-full text-center flex items-center justify-center;
}

.cyan-action-button-admin {
  @apply w-fit font-medium text-white bg-[#214ED1] px-4 md:px-8 py-1 rounded-md text-center flex items-center justify-center;
}

.text-green-medium {
  @apply text-[.8rem] uppercase font-semibold text-[#04c0de] self-center md:text-[16px] 2xl:text-[20px];
}

.text-heading-landing {
  @apply text-[1.5rem] tracking-wide break-words text-white text-center font-bold md:text-[1.5rem] 2xl:text-[3rem];
}

.text-normal-landing {
  @apply text-[14px] text-center break-words md:text-[16px] 2xl:text-[20px];
}

.text-normal-digitze {
  @apply text-[14px] p-0 leading-[1.8rem]  text-[#222] break-words md:text-[16px] 2xl:text-[20px];
}

.logo-hover-landing {
  @apply w-[180px] h-[35px]  flex justify-center items-center object-contain  grayscale opacity-100;
}

.logo-hover-staffing {
  @apply w-[5rem] h-fit object-contain md:w-[8rem] md:h-fit grayscale opacity-70 hover:opacity-100 hover:grayscale-0;
}

.scrollbar-desktop {
  display: flex;
  justify-content: center;
  /* height: 190px; */
  overflow-y: scroll;
  width: 80%;
  background: transparent;
  scroll-behavior: unset;
}

.scrollbar-desktop::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  right: 0px;
}

.scrollbar-desktop::-webkit-scrollbar-track {
  /* border-radius: 100vh;
  background: #212135; */
  background: transparent;
}

.scrollbar-desktop::-webkit-scrollbar-thumb {
  /* background: #33b5af;
  border-radius: 100vh; */
  background: transparent;
  scrollbar-width: none;
}

@media only screen and (min-width: 768px) {
  .scrollbar-desktop {
    height: fit-content;
    overflow-y: none;
    width: 67%;
    background: transparent;
    scrollbar-width: none;
  }
  .scrollbar-desktop::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  .scrollbar-desktop::-webkit-scrollbar-track {
    background: transparent;
    background: transparent;
  }

  .scrollbar-desktop::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .footer {
    background-color: radial-gradient(
      50% 50% at 50% 50%,
      #0a0825 14.22%,
      #000000 100%
    );
  }
}

.bg-gradient-business {
  background: radial-gradient(50% 50% at 50% 50%, #0a0726 0%, #07081d 100%);
}

.logo-hover-color {
  @apply w-[10rem] object-contain md:w-fit md:h-fit grayscale hover:grayscale-0;
}

.text-digitize-heading {
  @apply text-[18px] leading-[25px] mt-[5px] font-bold text-[#333] hover:text-[20px] hover:2xl:text-[26px] hover:animate-pulse hover:transition-all 2xl:text-[24px] heading-main;
}

.carousel {
  display: inline-flex;
  overflow-x: hidden;
  /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  scroll-snap-type: x mandatory;
  /* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.form-input {
  @apply border-none focus:outline-none text-[#333]  rounded w-full py-3 px-2 xl:px-3 leading-tight bg-[#FFFFFF] placeholder:text-xs md:placeholder:text-base;
}

.form-text {
  @apply text-base  text-subheading-gray;
}

.form-input-job {
  @apply focus:outline-none border border-[#565962] border-opacity-[33%] text-[#74777B] rounded w-full py-3 px-2 xl:px-3 leading-tight bg-[#FFFFFF];
}

.login-page {
  font-family: "Open Sans", sans-serif;
}

.login-input {
  @apply border-[#214ED1] border-[1px] md:border-2 focus:outline-none  rounded w-full py-3 px-2 xl:px-3 leading-tight bg-transparent;
}

input:checked ~ .dot {
  transform: translateX(3.5rem);
  background-color: #ffffff;
}

@media screen and (min-width: 1400px) {
  input:checked ~ .dot {
    transform: translateX(4rem);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.h-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bg-gradient-footer {
  background: radial-gradient(50% 50% at 50% 50%, #0a0825 14.22%, #000000 100%);
}

.dg-gradient-landing {
  background: radial-gradient(50% 50% at 50% 50%, #0a0726 0%, #07081d 100%);
}

.v-h-center {
  @apply absolute;
  top: 50%;
  bottom: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}

.img-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 541px;
  height: 541px;
  z-index: 0;
  border-radius: inherit;
  background: #000000;
  opacity: 0.5;
}

.text-anim-blog {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.scrollbar-applications {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}
.scrollbar-applications::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  right: 10px;
}

.scrollbar-applications::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

.scrollbar-applications::-webkit-scrollbar-thumb {
  background: #33b5af;
  border-radius: 100vh;
}

.nav-anim {
  transform: translateY(0px) translateX(0px);
  transition: transform 400ms ease 2s;
}

/* loader */
.loader-container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #046ac8;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Image";
  display: flex;
  justify-content: center;
  align-items: center;
  background: #16a59e;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  width: fit-content;
  color: white;
}

/* table fixed row */

.fix {
  position: absolute;
  position: relative;
  width: 100px;
  height: -webkit-fill-available;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.drop-zone-center {
  @apply absolute;
  top: 39%;
  bottom: 50%;
  right: 11%;
  transform: translate(-50%, -50%);
}

::file-selector-button {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/* w-fit font-medium text-white bg-secondary-green px-4 py-2  uppercase  rounded-full hover:bg-[#33b5af] transition-all text-center flex items-center justify-center */

#modal {
  animation: modalBody 300ms ease-in forwards;
}

#modal-content {
  /* animation: modalContent 500ms ease-in forwards; */
}

@keyframes modalBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalContent {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.scrollbar-table {
  display: flex;
  justify-content: left;
  overflow-x: scroll;
}
.scrollbar-table::-webkit-scrollbar {
  width: fit-content;
  height: 10px;
}

.scrollbar-table::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #ffffff;
}

.scrollbar-table::-webkit-scrollbar-thumb {
  background: #214ed1;
  border-radius: 100vh;
}

.staffing-bg {
  /* The image used */
  background-image: url(../public/assets/landing/staffing.jpg);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  min-height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  background-color: #f8fcff;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-link {
  @apply text-[14px] 2xl:text-[18px] text-white mt-2 cursor-pointer font-bold;
}

/* Landing Page */
.text-subheading {
  @apply text-[14px] md:text-[16px] 2xl:text-[20px] tracking-wide heading-main font-[800] uppercase;
}

.text-subheading-main {
  @apply text-[24px] lg:text-[36px] 2xl:text-[48px] font-[900] heading-main tracking-tight;
}

.contact {
  background-image: url(../public/assets/landing/contact_bg.png),
    linear-gradient(90deg, #04c0de, #05fad9);
  background-size: auto auto;
}

.text-anim-services {
  animation: 0.2s anim-services ease-out;
}
@keyframes anim-services {
  0% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.service {
  user-select: none !important;
}
body {
  transition-delay: 2s;
}

button:focus {
  outline: 0;
}

.scrollbar-staffing {
  display: flex;
  justify-content: center;
  /* height: 190px; */
  overflow-y: scroll;
  width: 100%;
}

.scrollbar-staffing::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  right: 0px;
}

.scrollbar-staffing::-webkit-scrollbar-track {
  /* border-radius: 100vh;
  background: #212135; */
}

.scrollbar-staffing::-webkit-scrollbar-thumb {
  /* background: #33b5af;
  border-radius: 100vh; */
}

@media only screen and (min-width: 768px) {
  .scrollbar-staffing {
    height: fit-content;
    overflow-y: none;
  }
  .scrollbar-staffing::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .scrollbar-staffing::-webkit-scrollbar-track {
  }

  .scrollbar-staffing::-webkit-scrollbar-thumb {
  }
}

.blog-title {
  @apply text-[#0a1f44] heading-main text-[28px] leading-[32px] xl:leading-[34px] font-bold break-words;
}

.filter-component {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-height: 767px) {
  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

.cstm-icn::-webkit-calendar-picker-indicator {
  color: rgba(255, 255, 255, 0);
  opacity: 1;
  display: block;
  background: rgba(255, 255, 255, 0);
  width: 0;
  height: 0;
  border-width: thin;
}

/* blog page */

.blog-card {
  @apply rounded-xl w-full h-[650px] sm:h-[700px] xl:h-[650px] bg-white drop-shadow-xl;
}

.text-blog-date {
  @apply text-xs md:text-[15px] text-[#5d3eff] font-semibold;
}

.text-blog-content {
  @apply text-[14px] leading-[25px]  text-[#4e5d78] break-words md:text-[16px];
}

.blog-paragraph {
  @apply text-[#333] font-[500] text-[15px] md:text-[16px] leading-[1.6rem]  break-words;
}

.heading-blog-content {
  @apply text-anim-blog text-white text-[1.2rem] z-10 md:text-[46px] font-semibold;
}

.text-date-blog {
  @apply text-[.85rem] text-white text-center break-words md:text-[17px] z-10 font-semibold;
}

.blog-subheading {
  @apply text-sm md:text-[1rem] text-[#333] break-words  font-semibold heading-main;
}

.read-more {
  @apply text-[#5d3eff] text-xs underline uppercase heading-main font-bold mt-2 cursor-pointer hover:text-black;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.sh {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.c1 {
  width: 74px;
  height: 74px;
  background: transparent;
  border-radius: 50%;
  border-width: 20px;
  border-color: #cdcde8;
  border-style: solid;
  transition: width 2s, height 4s;
  animation: zoom-in-zoom-out 3s ease infinite;
}

.c8 {
  width: 74px;
  height: 74px;
  background: transparent;
  border-radius: 50%;
  border-width: 1px;
  border-color: #cdcde8;
  border-style: solid;
  transition: width 2s, height 4s;
  animation: out 3s ease infinite;
}

.c3 {
  width: 43px;
  height: 43px;
  background: white;
  border-radius: 50%;
  border-width: 10px;
  border-color: #cdcde8;
  border-style: solid;
  transition: width 2s, height 4s;
  animation: out 3s ease infinite;
}

.c2 {
  width: 47px;
  height: 47px;
  background: white;
  border-radius: 50%;
  border-width: 10px;
  border-color: #cdcde8;
  border-style: solid;
  transition: width 2s, height 4s;
  animation: zoom-in-zoom-out 3s ease infinite;
}

.c3 {
  width: 43px;
  height: 43px;
  background: white;
  border-radius: 50%;
  border-width: 10px;
  border-color: #cdcde8;
  border-style: solid;
  transition: width 2s, height 4s;
  animation: zoom-in-zoom-out 3s ease infinite;
}

@keyframes out {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.71;
  }
  100% {
    transform: scale(1.1, 1.1);
    opacity: 0;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 1;
  }
  /* 50% {
    transform: scale(1, 1);
    opacity: .5;
  } */
  100% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

/* animation: mymove 5s infinite; */

/* @keyframes mymove {
  0% {
    bottom: 100px;
    left: 0px;
    opacity: .4;
  }
  25% {
    top: 80px;
    right: 100px;
    opacity: .6;
  }
  50% {
    top: 100px;
    right: 0px;
    opacity:.4;
  }
  75% {
    bottom: 0px;
    left:100px;
    opacity: .7;
  }
  100% {
    bottom: 100px;
    left: 0px;
    opacity: .4;
  }
} */

@keyframes mymove {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  33% {
    transform: translate(400px, -350px);
    opacity: 0;
  }
  66% {
    transform: translate(800px, 100px);
    opacity: 0.9;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 0;
  }
}

@keyframes mymove1 {
  0% {
    top: 0px;
    right: 300px;
    opacity: 0.6;
  }
  33% {
    top: 550px;
    right: 900px;
    opacity: 0.5;
  }
  66% {
    top: 0px;
    right: 1000px;
    opacity: 0.4;
  }
  100% {
    top: 80px;
    right: 300px;
    opacity: 0;
  }
}

@keyframes mymove2 {
  0% {
    bottom: 100px;
    right: 0px;
    opacity: 0.7;
  }
  33% {
    bottom: 200px;
    right: 900px;
    opacity: 0;
  }
  66% {
    bottom: 0px;
    right: 100px;
    opacity: 0.8;
  }
  100% {
    bottom: 100px;
    right: 200px;
    opacity: 0;
  }
}

.c4 {
  width: 38px;
  height: 38px;
  background-color: #0339d980;
  opacity: 50%;
  border-radius: 50%;
  animation: mymove1 60s infinite;
  opacity: 1;
}

.c5 {
  width: 106px;
  height: 106px;
  background-color: #ffd70080;
  opacity: 50%;
  border-radius: 50%;
  animation: mymove2 60s infinite;
  opacity: 1;
}

.c6 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: transparent;
  border-radius: 50%;
  border-width: 10px;
  border-color: #07038c33;
  opacity: 50%;
  border-style: solid;
  animation: zoom-in-zoom-out 3s ease infinite;
  opacity: 1;
}

.c7 {
  width: 106px;
  height: 106px;
  background-color: #cdcde8;
  border-radius: 50%;
  animation: mymove 60s infinite;
  opacity: 1;
  bottom: 100px;
}

.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

.button-pulse {
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 white;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}

.btn-1 {
  transition: all 0.25s ease-out;
}

.btn-1:hover {
  animation: zoom-in 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, 0.12);
}

.shw:hover {
  box-shadow: 0px 0px 15px #b284be;
  animation: zoom-in 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
}

.nav-modal-anim {
  animation: slideIn 1s ease-in;
}

@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.swiper-button-prev {
  color: red;
}

.swiper-button-next {
  color: #000;
}

.anim-product-img {
  animation: anim-product 1s ease-in;
}

@keyframes anim-product {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.form-scroll {
  overflow-y: auto;
}

.form-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.form-scroll::-webkit-scrollbar-track {
  width: 0px;
  background: transparent;
}

.form-scroll::-webkit-scrollbar-thumb {
  width: 0px;
  background: transparent;
}

.bg-gradient-career {
  background: linear-gradient(180deg, #eaf2ff 0%, rgba(234, 242, 255, 0) 100%);
}

.scrollbar-landing {
  display: flex;
  justify-content: center;
  height: 52vh;
  overflow-y: scroll;
  width: 60%;
}
.scrollbar-landing::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  right: 10px;
}

.scrollbar-landing::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #e0e0e0;
}

.scrollbar-landing::-webkit-scrollbar-thumb {
  background: #83baea;
  border-radius: 100vh;
}

@media only screen and (min-width: 768px) {
  .scrollbar-landing {
    height: 100%;
    overflow-y: none;
  }
  .scrollbar-landing::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.h-r {
  background: linear-gradient(180deg, #05f6da 0%, #05f8da 100%);
  height: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.btn-know-more {
  @apply w-fit shw sm:w-[143px] sm:h-[43px]  z-10 font-semibold text-[14px] md:text-base  uppercase text-white bg-primary-blue px-6 py-[.6rem] sm:p-0  tracking-wide rounded-full hover:bg-blue-800 cursor-pointer transition-all text-center flex items-center justify-center;
}

.section {
  scroll-snap-align: start;
}

.main {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: center;
}

.footer-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background: url("../public/V2/images/landing/footer.png");
}

.banner-bg-landing {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/landing/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-services {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/services/service.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-exp-design {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/services/exp-design.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-digital-marketing {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/services/digital-marketing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-technology {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/services/technology.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-branding {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/services/branding.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-agile {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/services/agile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-erp {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/services/erp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-cs {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/services/cs.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-devops {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/services/devops.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-blogs {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/blogs/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-our-team {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/our-team/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-about-us {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/about-us/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-contact-us {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/contact-us/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-privacy-policy {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/privacy-policy/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-bg-portfolio {
  width: 100vw;
  height: 650px;
  background-image: url("../public/V2/images/portfolio/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Banners star here  */

.banner-bg-landing-page-new {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/images/landing/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.banner-bg-ess {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/banners/ess.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.banner-bg-css {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/banners/css.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.banner-bg-aiss {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/banners/aiss.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.banner-bg-cbss {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/banners/cbss.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.banner-bg-cct {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/banners/cct.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.banner-bg-ecs {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/banners/ecs.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.banner-bg-mas {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/banners/mas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.banner-bg-uus {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/banners/uus.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.business-soloutions-banner-one {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/images/landing/businessSuccess/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.business-soloutions-banner-two {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/images/landing/businessSuccess/2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.business-soloutions-banner-three {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/images/landing/businessSuccess/3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.business-soloutions-banner-four {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/images/landing/businessSuccess/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.business-soloutions-banner-five {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/images/landing/businessSuccess/ws5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.portfolio-banner {
  width: "100%";
  height: calc(97vh - 16px);
  background-image: url("../public/V3/banners/portfolio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
/* Banners ends here  */

.banner-bg-landing-about {
  height: 465px;
  background-image: url("../public/V3/images/landing/about.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.heading-1 {
  @apply text-xl md:text-[35px] leading-[48px] font-normal text-gray-secondary;
}

.text-md {
  font-size: 14px;
}

.border-gray-normal-y {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-content {
  display: inline-flex;
  animation: marquee 15s linear infinite;
}

.marquee-content img {
  margin-right: 10px;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.bg-gradient-overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(
      271.4deg,
      rgba(0, 0, 0, 0) 49.78%,
      rgba(0, 0, 0, 0.4) 68.26%
    );
}

.ant-table-row-expand-icon,
.ant-table-row-expand-icon-cell {
  display: none !important;
}

.ant-table-row:nth-child(even) {
  background-color: #f0f0f0 !important;
}

.ant-table-row:nth-child(odd) {
  background-color: #fafafa !important;
}

.ant-table-thead > tr > th {
  background-color: #f0f0f0 !important;
}

.ant-table-tbody > tr > td {
  border-bottom: none !important;
}

.ant-table-container table > thead > tr:first-child > *:last-child {
  border-top-right-radius: 0px !important;
  overflow: hidden;
}

.ant-select-selector {
  border: none !important;
}

.ReactGridGallery_tile-viewport img {
  object-fit: contain !important;
  background: #000;
}

.header-bg {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 77.55%,
    rgba(102, 102, 102, 0.3) 100%
  );
  backdrop-filter: blur(5px);
}

/* Business success banners start here */

.business-soloutions-one {
  width: "100%";
  height: 310px;
  background-image: url("../public/V3/images/landing/businessSuccess/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.business-soloutions-two {
  width: "100%";
  height: 310px;
  background-image: url("../public/V3/images/landing/businessSuccess/2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.business-soloutions-three {
  width: "100%";
  height: 310px;
  background-image: url("../public/V3/images/landing/businessSuccess/3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.business-soloutions-four {
  width: "100%";
  height: 310px;
  background-image: url("../public/V3/images/landing/businessSuccess/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.business-soloutions-five {
  width: "100%";
  height: 310px;
  background-image: url("../public/V3/images/landing/businessSuccess/5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.footer-bg-black {
  width: "100%";
  min-height: 96vh;
  background-image: url("../public/V3/images/landing/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.border-input {
  color: white;
  border-radius: 6px;
  background: #1a1a1a;
  margin-top: 3px;
  border: 0.73px solid #262626;
}

.input-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: white;
}

.input-label::placeholder {
  color: #666;
}

.header-pos {
  /* margin-right: 20px;
  margin-left: 20px; */
  @apply mr-2 ml-2 md:mr-5 md:ml-5;
}

.modal-custom .ant-modal-content {
  padding: 0px !important;
}

.modal-custom .ant-modal-title {
  display: none !important;
}

.modal-custom .ant-modal-footer {
  display: none !important;
}

.modal-custom .ant-modal-content {
  width: fit-content !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.sticky-header {
  top: 8px;
  z-index: 50;
}

@media (min-width: 768px) {
  .sticky-header {
    top: 20px;
  }
}
